.env
*.infoForAndAboutDevs/
.venv
__pycache__/
*.json
*.log
credentials.json
token.json
token.json.bak
*.bak
secretForGoogle.txt
email_to_chaitanyashinde545.txt
*.tar.gz
*.zip
*.7z
.infoForAndAboutDevs/
chroma_db/
TestOutput/
vectorstores/
memory/
chat_uploads/
chat_chroma/
client_secret*
*.apps.googleusercontent.com.json
